<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:property-placeholder location="classpath:applicationContext.properties" ignore-resource-not-found="true"/>
	
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager"/>
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="true" />
		<property name="history" value="audit" />
		<property name="mailServerHost" value="${mail.smtp.host:smtp.gmail.com}" />
	    <property name="mailServerPort" value="${mail.smtp.port:465}" />
	    <property name="mailServerUsername" value="${mail.smtp.username:ironrhinotest@gmail.com}"></property>
	    <property name="mailServerPassword" value="${mail.smtp.password:testironrhino}"></property>
	    <property name="mailServerDefaultFrom" value="${mail.default.from:ironrhinotest@gmail.com}"></property>
	   	<property name="mailServerUseSSL" value="${mail.use.ssl:true}" />
	   	<property name="activityFontName" value="宋体"/>
        <property name="labelFontName" value="宋体"/>
		<property name="customFormTypes">
			<list>
				<bean class="org.ironrhino.process.form.TextareaFormType"/>
				<bean class="org.ironrhino.process.form.DictionaryFormType"/>
				<bean class="org.ironrhino.process.form.DecimalFormType"/>
			</list>
		</property>
	</bean>
	
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean" destroy-method="destroy">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>
	
	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
	<bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService" />
	<bean id="formService" factory-bean="processEngine" factory-method="getFormService" />
 
</beans>